body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px

};


.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

.cor{
    background-color: #008B8B;
}

#s-t01{
    border: solid 1px;
}

#s-t-t01 tr th{
    padding: 7px;
}

#s-t01 thead{
    color: white;
    text-align: center;
}

#s-t01 tbody{
    text-align: left;
}

#s-t01 tbody tr:nth-child(even) td{
    background-color: rgb(250, 241, 241);
}

#s-t01 tbody tr:hover td{
    cursor: pointer;
    background-color: rgb(155, 148, 148);
}